@model PagedList.IPagedList<Blog.Models.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}


<h3>Categories <span class="label label-success">@ViewBag.countCategories</span></h3>
<p>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New Category", "Create")
    }
</p>


<p style="margin-top:30px;">
    <div class="row">
        <div class="col-md-3">
            <form>


                <div class="input-group">
                    <input type="text" value="@ViewBag.CurrentFilter" name="searchString" class="form-control col-md-4" placeholder="category" />
                    <span class="input-group-btn">
                        <input type="submit" value="Search" class="form-control btn btn-default" />
                    </span>
                </div>
            </form>
        </div>
    </div>
</p>

<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <tr>

                <th>

                    @Html.ActionLink("Category name", "Index", new { sortOrder = ViewBag.TitleSortParm })
                </th>
                <th>@Html.ActionLink("Number of Posts", "Index", new { sortOrder = ViewBag.CountPostsSortParm })</th>
                <th>@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })</th>
            </tr>

            @foreach (var item in Model)
            {

                <tr onclick="window.document.location='/Categories/Details/@item.CategoryId'">

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posts.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |

                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                        </td>
                    }
                </tr>

            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>

    <div class="col-md-4">

       
            <div class="panel panel-success">
                <div class="panel-heading">Recent posts:</div>
                <div class="panel-body">
                    @foreach (var post in ViewBag.posts)
                    {


                        <label><a href="/Posts/Show/@post.PostId">@post.Title</a> </label><br />
                        <label><a href="/Categories/Details/@post.Category.CategoryId">@post.Category.Title</a> </label><br />
                        <span class="glyphicon glyphicon-time"></span> <i>@post.Date</i>
                        <hr />

                    }
                </div>
            </div>



            <div class="panel panel-primary">
                <div class="panel-heading">Latest comments:</div>
                <div class="panel-body">
                    @foreach (var comment in ViewBag.comments)
                    {


                        <label><a href="/Posts/Show/@comment.PostId">@comment.Post.Title</a> </label><br />
                        <label>@comment.UserId</label><br />
                        <span class="glyphicon glyphicon-time"> </span> <i>@comment.Date</i>

                        <hr />

                    }
                </div>
            </div>









       
    </div>
</div>

<br />





